aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
cloudscraper
convopyro
databases[aiosqlite]
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
httpx
lxml
myjdapi
natsort
pillow
psutil
pycryptodome
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
yt-dlp